[gitflow "branch"]
    master = main
    develop = dev

[gitflow "prefix"]
    feature = feature/
    bugfix = bugfix/
    release = release/
    hotfix = hotfix/
    support = support/
    versiontag = v

[gitflow "feature.start"]
    hooks = pre-flow-finish

[gitflow "hotfix.start"]
    hooks = pre-flow-finish

[gitflow "release.start"]
    hooks = pre-flow-finish

[gitflow "bugfix.start"]
    hooks = pre-flow-finish

[gitflow "path"]
    hooks = .husky