[gitflow "branch"]
    master = main
    develop = dev

[gitflow "prefix"]
    feature = feature/
    bugfix = bugfix/
    release = release/
    hotfix = hotfix/
    support = support/
    versiontag = v

[gitflow "feature.finish"]
    hooks = pre-flow-feature-finish

[gitflow "hotfix.finish"]
    hooks = pre-flow-feature-finish

[gitflow "release.finish"]
    hooks = pre-flow-feature-finish

[gitflow "bugfix.finish"]
    hooks = pre-flow-feature-finish

[gitflow "path"]
    hooks = .husky