<div class="p-3 footerStyle" data-bs-theme="dark">
    <div class="container-xxl text-body">
        <div class="row row-cols-1 row-cols-lg-3 text-center align-items-center justify-content-around">
            <div class="col small order-last order-lg-first text-lg-start">
                <div class="row">
                    <div class="col-12 copyright">
                        &copy; 2024 by OnForkHub . All rights reserved.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}