@if (Video is not null)
{
    <div class="hc-wrapper">
        <div class="hc-card @(NowPlayingVideo == Video.Title ? "selected" : "")"
             @onclick="playVideo">
            <div class="hc-content">
                <picture>
                    <img src="/Images/@Video.Thumbnail" alt="@Video.Title"/>
                </picture>
                <p class="text-center">
                    @Video.Title
                </p>
                <button type="button" class="btn btn-glass">
                    @if (NowPlayingVideo == Video.Title)
                    {
                        <i class="bi bi-pause"></i>
                    }
                    else
                    {
                        <i class="bi bi-play"></i>
                    }
                </button>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] [EditorRequired] public Video? Video { get; set; }

    [Parameter] public string? NowPlayingVideo { get; set; }

    [Parameter] public EventCallback OnPlayCallBack { get; set; }

    [Parameter] public EventCallback OnStopCallBack { get; set; }

    private async Task playVideo()
    {
        await OnPlayCallBack.InvokeAsync();
    }

    private async Task stopVideo()
    {
        await OnStopCallBack.InvokeAsync();
    }

}