@if (Video is not null)
{
    <div class="hc-wrapper">
        <div class="hc-card @(NowPlayingVideo == Video.Title ? "selected" : "")">
            <picture>
                <img src="/Images/@Video.Thumbnail" />
            </picture>
            <div class="hc-content vstack justify-content-end">
                <p class="text-center">
                    @Video.Title
                </p>
                <button type="button" class="btn btn-glass" @onclick="PlayVideo">
                    Play
                </button>
            </div>
        </div>
    </div>
}


@code {
    [Parameter]
    [EditorRequired]
    public Video? Video { get; set; }

    [Parameter]
    public string? NowPlayingVideo { get; set; }

    [Parameter]
    public EventCallback OnPlayCallBack { get; set; }

    private async Task PlayVideo()
    {
        await OnPlayCallBack.InvokeAsync();
    }
}
