.shorts-container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 3px;
    gap: 3px;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.main-content {
    display: flex;
    flex-direction: column;
    background: var(--cf-theme-surface, #1a1a1a);
    border-radius: 12px;
    justify-content: start;
    align-items: center;
    padding: 10px;
    width: 100%;
    max-height: 100%;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.video-wrapper {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
}

.video-info {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    color: white;
}

.video-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.shorts-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    min-height: 300px;
    min-width: 300px;
}

.nav-button {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .nav-button:hover {
        background: rgba(255, 255, 255, 0.2);
    }

.interaction-buttons {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.action-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    border: none;
    color: white;
    gap: 5px;
    cursor: pointer;
    transition: transform 0.2s;
    padding: 10px;
}

    .action-btn:hover {
        transform: scale(1.1);
    }

    .action-btn i {
        font-size: 24px;
    }

    .action-btn span {
        font-size: 12px;
    }

.video-list-container {
    display: flex;
    flex-direction: column;
    background: #1a1a1a;
    border-radius: 12px;
    padding: 20px;
}

.playlist-title {
    color: white;
    margin-bottom: 15px;
    font-size: 1.2rem;
}

.video-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 15px;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 0;
}

@media screen and (max-width: 1360px) {
    .main-content {
        justify-content: start;
    }

    .video-list {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

    .shorts-video {
        max-height: 540px;
    }
}

@media screen and (max-width: 768px) {
    .nav-button {
        display: none;
    }

    .video-list {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
}

@media screen and (max-width: 420px) {
    .shorts-container {
        flex-direction: column;
    }
}