@namespace OnForkHub.Web.Components.VideoPlayer

<div id="@PlayerId" class="torrent-player-container">
    <video controls style="width: 100%; height: auto;"></video>
    <div class="torrent-progress" style="display: none;"></div>
</div>

<style>
    .torrent-player-container {
        position: relative;
        width: 100%;
        background: #000;
    }

    .torrent-progress {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 10px;
        background: rgba(0,0,0,0.8);
        color: white;
        text-align: center;
    }
</style>